<a id="pudgetUrl" href="/pudget/<%= id %>">Your Pudget URL</a>

<form id="addPodcast" method="post" action="/pudget/add/podcast">
  <input id="id" name="id" type="hidden" value="<%= id %>" />
  <input id="url" name="url" type="text" value="" />
  <input type="submit" value="Add Podcast" />
</form>

<form id="importOPML" method="post" action="/pudget/import">
  <input id="id" name="id" type="hidden" value="<%= id %>" />
  <input id="url" name="url" type="text" value="" />
  <input type="submit" value="Import OPML" />
</form>

<ul>
  <% podcasts.each do |podcast| %>
    <li><%= podcast.title %> -
        <%= podcast.weekly_time %> minutes
      <ul>
        <% podcast.episodes.each do |episode| %>
          <li><%= episode[:publish_date] %>:
              <%= episode[:title] %> -
              <%= episode[:duration].minutes %> minutes
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

